.recipe-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100vw;
    // background-image: url("../../images/show_bg.jpg");
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center; 
    padding-bottom: 300px;
}

.show-bg {
    z-index: -99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-item  * {
    color: black;
    list-style-type: none;
    // text-shadow: 1px 1px 13px black;
    line-height: 30px;
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


    font-family: 'Montserrat', sans-serif;


}


.recipe-center {
    margin-top: 25%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.recipe-name {
    margin-top: 50px;
    font-size: 45px;
    font-weight: 100;
    padding: 5px;
    color: black;
}

.recipe-nutrition {
    padding: 5px;
    font-size: 13px;
    font-weight: 100;
}
.recipe-img {
    border-radius: 20px;
    object-fit: cover;
}

.ingredients {
    font-size: 17px;
    font-weight: 500;
    padding: 15px 0px 15px 0px;
}

.directions {
    font-size: 17px;
    font-weight: 500;
    padding: 15px 0px 15px 0px;
}