.navbar {
    position: fixed;
    width: 100vw;
    background-color: rgba(17, 17, 17, 0);

    display: flex;
    justify-content: space-between;
    z-index: 99; 
}

.nav-right {
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.nav-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 200px;
    height: 70px; 
    padding: 10px 5px;
}

.right-links {
    display: flex;
    justify-content: space-between;
}

.right-links button {
    padding: 10px 12px;
    margin: 7px;   
    color: white;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

